/*
==================
Global
==================
*/

:root {
  --color-dark: #000;
  --color-grey: #4f4f4f;
  --color-grey-1: #dadada;
  --color-primary: #4d13d1;
  --color-secondary: #fbf8f3;
  --color-white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: var(--color-grey);
}

a {
  text-decoration: none;
  color: var(--color-grey);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 40px;
}

.btn {
  display: block;
  padding: 19px 28px;
  border-radius: 5px;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
  font-weight: 700;
}

.btn-inline-block {
  display: inline-block;
}

/*
==================
Header
==================
*/

.header-wrapper {
  background: var(--color-secondary);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}

.logo {
  order: 1;
  flex-grow: 1;
  width: 50%;
}

.logo a {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 20px;
}

.toggle {
  order: 2;
  width: 50%;
  flex-grow: 1;
}

.toggle img {
  float: right;
  cursor: pointer;
}

.menu {
  order: 3;
  width: 100%;
  display: none;
}

.menu ul {
  list-style: none;
  margin: 20px 0;
}

.menu ul li {
  display: block;
  padding: 8px 0;
}

.menu ul li a {
  color: var(--color-dark);
}

.cta {
  order: 4;
  width: 100%;
  display: none;
}

.cta-link {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--color-dark);
}

.cta-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 19px 28px;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
}

.active .menu,
.active .cta {
  display: block;
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header > * {
    flex-grow: 1;
    flex-basis: 33.333333%;
  }

  .logo {
    order: 1;
  }

  .toggle {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu ul {
    text-align: center;
  }

  .menu ul li {
    display: inline-block;
  }

  .menu ul li a {
    display: block;
    margin: 0 12px;
  }

  .cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cta-link {
    margin-right: 18px;
    display: inline-block;
    margin-bottom: 0;
    padding: 19px 32px;
  }
}

/*
==================
Hero
==================
*/

.hero-wrapper {
  background: var(--color-secondary);
}

.hero {
  padding: 50px 0;
}

.hero-img-container img {
  max-width: 100%;
  margin-bottom: 18px;
}

.hero-rating {
  display: flex;
  margin-top: 30px;
  display: none;
}

.hero-rating img {
  margin-right: 6px;
  width: 16px;
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 8px;
}

.hero-description {
  margin-bottom: 18px;
}

.hero-cta {
  text-align: center;
}

.hero-cta-btn,
.hero-cta-link {
  display: block;
  font-weight: 700;
}

.hero-cta-btn {
  padding: 19px 0;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 5px;
}

.hero-cta-link {
  display: inline-block;
  color: var(--color-primary);
  padding: 19px 0;
  text-decoration: underline;
  line-height: 22px;
}

.hero-nocc span {
  display: block;
  background: url("../Icons/Checkmark.svg");
  background-repeat: no-repeat;
  padding-left: 32px;
  margin: 8px 0;
}

@media screen and (min-width: 1140px) {
  .hero {
    display: flex;
    padding: 80px 0;
  }

  .hero-img {
    order: 2;
  }

  .hero-info {
    order: 1;
    width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-rating {
    display: flex;
    margin-bottom: 16px;
  }

  .hero-title {
    color: var(--color-dark);
    font-size: 55px;
    line-height: 67px;
  }

  .hero-img-container {
    max-width: 600px;
    margin-right: -40px;
  }

  .hero-cta {
    text-align: left;
    margin-bottom: 16px;
  }

  .hero-cta-link,
  .hero-cta-btn {
    padding: 19px 24px;
    display: inline-block;
  }

  .hero-nocc {
    display: flex;
    flex-direction: row;
  }

  .hero-nocc span {
    margin-right: 16px;
  }
}

/*
==================
Features
==================
*/

.features-wrapper {
  background: var(--color-white);
}

.features {
  padding: 80px 0;
}

.features-header {
  margin-bottom: 48px;
}

.features-question {
  font-weight: 700;
  line-height: 22px;
  color: var(--color-primary);
  margin-bottom: 16px;
}

.features-heading {
  font-size: 36px;
  line-height: 43px;
  color: var(--color-dark);
}

.card-item img {
  margin-bottom: 16px;
}

.card-item h4 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-dark);
}

.card-item p {
  margin-bottom: 50px;
}

@media screen and (min-width: 1140px) {
  .features-header {
    width: 512px;
  }

  .features-cards {
    display: flex;
    justify-content: space-between;
  }

  .card-item {
    width: calc(33.333333% - 40px);
  }

  .card-item p {
    margin-bottom: 0;
  }
}

/*
==================
Diversify
==================
*/

.diversify-wrapper {
  background: var(--color-white);
}

.diversify {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 10px;
  padding: 50px 38px;
}

.diversify-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 8px;
}

.diversify-description {
  margin-bottom: 16px;
}

.diversify-btn {
  display: block;
  background: var(--color-white);
  font-weight: 700;
  color: var(--color-primary);
  border-radius: 5px;
  padding: 19px 0;
  margin-bottom: 57px;
  text-align: center;
}

.diversify-img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -60px;
}

@media screen and (min-width: 1140px) {
  .diversify {
    display: flex;
  }

  .diversify-info {
    width: 417px;
    margin-right: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .diversify-btn {
    margin-bottom: 0;
  }

  .diversify-img {
    width: 577px;
    margin-bottom: -60px;
  }
}

/*
==================
Testimonial
==================
*/

.testimonial-wrapper {
  background: var(--color-white);
}

.testimonial {
  padding: 80px 0 50px 0;
}

.testimonial-cards {
  border-radius: 5px;
  border: 1px solid var(--color-grey-1);
  padding: 23px;
  margin-bottom: 40px;
}

.testimonial-profile {
  display: flex;
  margin-bottom: 11px;
}

.testimonial-profile-info {
  display: flex;
  flex-direction: column;
}

.testimonial-profile img {
  width: 42px;
  margin-right: 13px;
}

.testimonial-profile-name {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: -10px;
}

.testimonial-profile-revenue {
  font-size: 15px;
  color: var(--color-dark);
}

.testimonial-description {
  color: var(--color-dark);
  margin-bottom: 16px;
}

.testimonial-btn {
  display: block;
  padding: 19px 0;
  color: var(--color-primary);
  border: 1px solid var(--color-grey-1);
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 1140px) {
  .testimonial {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 19px;
    margin-bottom: 52px;
    background: var(--color-white);
  }

  .testimonial-cards {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 436px;
    margin-bottom: 0;
  }

  .testimonial-cards:not(:last-child) {
    margin-right: 40px;
  }
}

/*
==================
Footer
==================
*/

.footer-wrapper {
  background: var(--color-secondary);
  padding: 60px 0;
}

.footer-about-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.footer-about-description {
  margin-bottom: 32px;
}

.footer-about-love {
  display: block;
  margin-bottom: 16px;
}

.footer-links h4 {
  margin-bottom: 16px;
  color: var(--color-dark);
}

.footer-links ul {
  list-style: none;
  margin-bottom: 40px;
}

.footer-links ul li {
  display: block;
  margin: 4px 0;
}

.footer-links ul li a {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1140px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-about {
    width: 381px;
    margin-right: 40px;
  }

  .footer-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .footer-about-love {
    margin-bottom: 0;
  }

  .footer-links ul {
    margin-bottom: 0;
  }
}
